body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(44, 45, 48);
}
a{
    font-size: 20px;
    color:rgb(253, 253, 253);
    text-align: center;
}
legend{
    font-size: 30px;
    color:rgb(253, 253, 253);
    text-align: center;
}